<!DOCTYPE html>
<html>
<body>
<div style="margin-left: 600px">
<h2>HTML Forms</h2>

<form action="/admin/exam" method="POST">
  
  <input type="hidden" name="_id" value="<%=exam._id%>">
  fullname<br>
  <input type="text" name="examName" value="<%=exam.examName%>">
  <br>
  examEasyNumber<br>
  <input type="text" name="examEasyNumber" value="<%=exam.examEasyNumber%>">
  <br><br>
  examMediumNumber<br>
  <input type="text" name="examMediumNumber" value="<%=exam.examMediumNumber%>" >
  <br>
  examTimeMake<br>
  <input type="text" name="examTimeMake"  value="<%=exam.examTimeMake%>">
  <br>classId<br>
  <input type="text" name="classId" value="<%=exam.classId%>">

  <input type="submit" value="Submit">
</form> 
</div>
</body>
</html>
